@model ReUzze.Models.AmountPerEntityViewModel

<div class="row overview">
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <a class="circle" href="~/entity/index">@Model.AmountEntities</a>
        <p class="circletitle">Entities</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <a class="circle" href="~/category/index">@Model.AmountCategories</a>
        <p class="circletitle">Categories</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <a class="circle" href="~/user/index">@Model.AmountUsers</a>
        <p class="circletitle">Users</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <a class="circle" href="~/role/index">@Model.AmountRoles</a>
        <p class="circletitle">Roles</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <a class="circle" href="~/address/index">@Model.AmountAddresses</a>
        <p class="circletitle">Addresses</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <a class="circle" href="~/region/index">@Model.AmountRegions</a>
        <p class="circletitle">Regions</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <a class="circle" href="~/bid/index">@Model.AmountBids</a>
        <p class="circletitle">Bids</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <a class="circle" href="~/media/index">@Model.AmountImages</a>
        <p class="circletitle">Images</p>
    </div>
</div>