@model IEnumerable<App.Models.User>

<div class="row">
    @if (Model.Count() > 0)
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="articles-list">
            <h3>Last users</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>User Rating</th>
                            <th>From Region</th>
                            <th>Role</th>
                            <th>Bids</th>
                            <th>Created on</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model) 
                        {
                            <tr data-id="user-@user.Id" data-title="@user.UserName">
                                <td><a href="/user/detail/@user.Id">@user.UserName</a></td>
                                <td>@user.Email</td>
                                <td>@user.Person.FirstName @user.Person.SurName</td>
                                <td>@for (int i = 0; i < user.Rating; i++)
                                    {
                                        <span class="glyphicon glyphicon-star"></span>
                                    }
                                    @for (int i = 0; i < (10 - user.Rating); i++)
                                    {
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    }
                                </td>
                                <td>@user.Person.Address.Region.Name</td>
                                <td>@user.Role.Name</td>
                                <td>@user.Bids.Count</td>
                                <td>@user.CreatedDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>        
     }
</div>