@model IEnumerable<ReUzze.Models.entity>

<div class="row">
    @if (Model.Count() > 0)
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="articles-list">
            <h3>Last entities</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Instant selling price (EUR)</th>
                            <th>Condition</th>
                            <th>Created by user</th>
                            <th>Region</th>
                            <th>Category</th>
                            <th>Bids</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var entity in Model) 
                        {
                            @* onclick="document.location = '../../entity/detail/@entity.entity_id';" *@
                            <tr data-id="user-@entity.entity_id" data-title="@entity.entity_id">
                                <td><a href="/entity/detail/@entity.entity_id">@entity.entity_title</a></td>
                                <td>@entity.entity_description</td>
                                <td>@entity.entity_starttime</td>
                                <td>@entity.entity_endtime</td>
                                <td>@entity.entity_instantsellingprice</td>
                                <td>@entity.entity_condition</td>
                                <td>@entity.user.username</td>
                                <td>@entity.region.region_name</td>
                                <td>@entity.category.category_name</td>
                                <td><span class="badge">@entity.bids.Count</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>        
     }
</div>