@model IEnumerable<ReUzze.Models.favorite>

@{
    ViewBag.Title = "Favorites From User";
    ViewBag.Description = "In this view you can see the favorites from the selected user";
    ViewBag.Keywords = "reuzze, favorites, user";
}

<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="articles-list">
    @if (Model.Count() > 0)
    {
        <p>Favorites from: <b>@Model.FirstOrDefault().entity.user.username</b></p>
        <div class="table-responsive">
            <table class="table table-striped entities">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Instant selling price (EUR)</th>
                        <th>Condition</th>
                        <th>Created by user</th>
                        <th>Region</th>
                        <th>Category</th>
                        <th>Bids</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var favorite in Model) 
                    {
                        <tr data-id="user-@favorite.entity_id" data-title="@favorite.entity_id">
                            <td><a href="/entity/detail/@favorite.entity_id">@favorite.entity.entity_title</a></td>
                            <td>@favorite.entity.entity_description</td>
                            <td>@favorite.entity.entity_starttime</td>
                            <td>@favorite.entity.entity_endtime</td>
                            <td>@favorite.entity.entity_instantsellingprice</td>
                            <td>@favorite.entity.entity_condition</td>
                            <td>@favorite.entity.user.username</td>
                            <td>@favorite.entity.region.region_name</td>
                            <td>@favorite.entity.category.category_name</td>
                            <td><span class="badge">@favorite.entity.bids.Count</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>The user doesn't have any favorites yet!</p>
    }
</section>        
