@model ReUzze.Models.ChangeSettingsViewModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        @Html.HiddenFor(model => model.UserName)
        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword)
            @Html.PasswordFor(model => model.OldPassword, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword)
            @Html.PasswordFor(model => model.NewPassword, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.PasswordFor(model => model.ConfirmPassword, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>  
        <input type="submit" class="btn btn-default" value="Change password" />
    </fieldset>
}
